/* ----------------
layouts
-------------------*/

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.justify-between {
  justify-content: space-between;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 150rem;
  width: 85%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.box {
  background: lightblue;
  padding: 3rem;
}

.flow > *:not(:last-child) {
  margin-bottom: 1rem;
  outline: 1px solid red;
}

/* ----------------
SPACINGG
-------------------*/
.mt-sm {
  margin-top: 5px;
}

.mt-md {
  margin-top: toRem(15);
}

.mt-lg {
  margin-top: toRem(25);
}

.text-md {
  font-size: toRem(14) !important;
}

.text-sm {
  font-size: toRem(10) !important;
}

.ml-sm {
  margin-left: toRem(125);
}

.padding {
  padding: toRem(32);
}

.icon {
  cursor: pointer;
}
