/*    Colors  */

$white: white;

$gray-bright: #7b84a1;
$gray-regular: #646d8c;
$gray-dark: #5a6485;
$gray-light-1: #f7f8f9;
$gray-light-2: #eff0f3;
$gray-light-3: #e8e9ee;

$red-bright: #ed3d39;
$red-regular: #e80c08;
$red-dark: #d10b07;
$red-light-1: #fef3f3;
$red-light-2: #fde7e6;
$red-light-3: #fcdbda;

$green-bright: #74ac45;
$green-regular: #65a330;
$green-dark: #5b932b;
$green-light-1: #f7faf5;
$green-light-2: #f0f6ea;
$green-light-3: #e8f1e0;

$blue-bright: #3b4d94;
$blue-regular: #253988;
$blue-dark: #21337a;
$blue-light-1: #f4f5f9;
$blue-light-2: #e9ebf3;
$blue-light-3: #dee1ed;

$yellow-bright: #ecc43b;
$yellow-regular: #e7b300;
$yellow-dark: #dead05;
$yellow-light-1: #fefbf2;
$yellow-light-2: #fdf7e5;
$yellow-light-3: #fbf4d9;

$pink-bright: #d13499;
$pink-regular: #c6017f;
$pink-dark: #b20172;
$pink-light-1: #fcf2f9;
$pink-light-2: #f9e6f2;
$pink-light-3: #f6d9ec;

$black-purple-bright: #311f58;
$black-purple-regular: #231444;
$black-purple-dark: #1c1036;
$black-purple-light-1: #f4f3f6;
$black-purple-light-2: #e9e7ec;
$black-purple-light-3: #dedce3;

/*
 * Text
 */

$text-white: $white;
$text-black: #231444;
$text-gray-regular: $gray-regular;
$text-gray-dark: $gray-dark;
$text-blue: #253988;
$text-green: #65a330;
$text-pink: #c6017f;
$text-yellow: #e7b300;
$text-red: #e80c08;

/*
 * Borders
 */
$border-light: #f2f3f8;
$border-regular: #e5e7f1;
$border-dark: #dbdeeb;

/*
 * Misc
 */
$transition-duration: 0.2s;
